langgraph-checkpoint-postgres>=2.0.0
psycopg[binary]>=3.1.18
redis>=5.0.0
#aioredis>=2.0.1

langchain
langchain-openai
langgraph
langgraph-supervisor
fastapi==0.109.0
uvicorn[standard]==0.27.0
pydantic>=2.7.0
requests==2.31.0
python-dotenv==1.0.1
python-jose[cryptography]==3.3.0

alembic==1.14.0
SQLAlchemy==2.0.36

pytest==7.4.3              
pytest-asyncio==0.21.1    
pytest-cov==4.1.0         
httpx==0.25.0             
pytest-xdist==3.3.1       
pytest-mock==3.12.0       